<!--  app/views/movies/show.html.erb -->

<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2>
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>


  <%= form_tag login_path do %>
    <%= label :session, :email, 'Email', :class => 'col-form-label' %>
    <%= text_field :session, :email, :class => 'form-control' %>
    <%= label :session, :password, 'Password', :class => 'col-form-label' %>
    <%= password_field :session, :password, :class => 'form-control' %>
    </br>
    <%= submit_tag "Log in", :class => 'btn btn-primary' %>
  <% end %>

  </br>
  </br>

  </div>
</section>