<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header border-0"></div>
    <div class="modal-body text-center pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Edit Meeting Information</h2>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
            </div>
            <ul class="list-group text-start" id="details">

              <%= form_tag nurse_meeting_path(@nurse, @meeting), :method => :put do %>
                <div class="mb-3">
                  <%= hidden_field  :meeting, :student_id, :class => 'form-control' %>
                </div>
                <div id="new-meeting-form" class="mb-3">
                  <%= label :meeting, :start, 'Appointment', :class => 'form-label'%>
                  <%= datetime_select :meeting, :start, :class => 'form-control', :start_hour=> 8, :end_hour => 18, :minute_step => 30,
                                      :default => {:start_year => Date.current.year, :start_day => Date.current.next_day, :hour => '10', :minute => '30'} %>
                </div>
                <div id="new-meeting-form" class="mb-3">
                  <%= label :meeting, :info, 'Meeting Information', :class => 'form-label' %>
                  <%= text_area :meeting, :info, :class => "form-control", :rows => "3" %>
                </div>
                <%= submit_tag 'Save', :class => 'btn btn-primary' %>
                <%= link_to 'Cancel', nurse_meeting_path(@nurse, @meeting), :class => 'btn btn-secondary' %>
              <% end %>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $('input:checkbox').click(function() {
            $('input:checkbox').not(this).prop('checked', false)
            document.getElementById("meeting_student_id").value = $(this)[0].value.split('_').pop();
        })
    });
</script>