<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header border-0"></div>
    <div class="modal-body text-center pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Meeting Details</h2>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
            </div>
              <ul class="list-group text-start" id="details">
                <li class="list-group-item">Meeting Date: <%=@meeting.start %></li>
                <li class="list-group-item">Meeting Info: <%=@meeting.info %></li>
              </ul>
            <br>
            <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0" >Student Information</h3>
            <ul class="list-group text-start">
              <li class="list-group-item"> First Name: <%= @meeting.student.user.first_name %> </li>
              <li class="list-group-item"> Last Name: <%= @meeting.student.user.last_name %></li>
              <li class="list-group-item"> Birthdate: <%=@meeting.student.birthdate %> </li>
              <li class="list-group-item"> Email: <%= @meeting.student.user.email %></li>
              <li class="list-group-item"> Guardian Information:
                <ul class="list-group row" name="guardian_details">
                <% @meeting.student.guardians.each do |guardian| %>
                    <li class="list-group-item">Name: <%= guardian.first_name%> <%= guardian.last_name %><br/>
                      Email: <%= guardian.email%></li>
                <% end %>
                </ul>
              </li>
            </ul>
            <br>
            <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">Medication Assignment</h3>
            <ul class="list-group text-start">
              <% @meeting.student.medication_assignments.each do |med_assignment| %>
                  <li class="list-group-item"> Medication Info:
                    <%= Medication.find(med_assignment.medication_id).name %>
                    (<%= Medication.find(med_assignment.medication_id).true_name %>), dosage:
                    <%= Medication.find(med_assignment.medication_id).dosage %>
                  </li>
                  <li class="list-group-item"> Medication Start Date: <%= med_assignment.start_date %></li>
                  <li class="list-group-item"> Medication End Date: <%= med_assignment.end_date %></li>
                <% end %>
            </ul>
            <br>
          </div>
        </div>
        <div class="row justify-content-center">
          <div style="float: left; width: auto;"><%= button_to 'Log Meeting', log_path(@meeting.nurse, @meeting), method: 'post', form_class: "myButton", class: 'btn btn-primary' %></div>
          <div style="float: left; width: auto;"><%= button_to 'Edit Meeting Details', edit_nurse_meeting_path(@meeting.nurse, @meeting), method: 'get', form_class: "myButton", class: 'btn btn-primary' %></div>
          <div style="float: left; width: auto;"><%= button_to 'Back to Schedule', nurse_path(@meeting.nurse), method: 'get',form_class: "myButton", class: 'btn btn-primary'  %></div>
          <div style="float: right; width: auto;"><%= button_to 'Cancel Meeting', { action: "destroy", nurse_id: @meeting.nurse, id: @meeting }, method: 'delete', data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %></div>
          <div style="float: right; width: auto;"><%= button_to 'Report Med Error', error_path(@meeting.nurse, @meeting), method: 'get', class: 'btn btn-danger'  %> </div>
        </div>
    </div>
  </div>
</div>
