<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
    <div class="modal-body text-center pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Student Details</h2>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
            </div>
            <ul class="list-group text-start" id="details">
              <li class="list-group-item">Name: <%= @student.user.first_name %> <%= @student.user.last_name %></li>
              <li class="list-group-item">School: <%= @student.school.name %></li>
              <li class="list-group-item">Email: <%= @student.user.email %></li>
              <li class="list-group-item">Birthdate: <%= @student.birthdate %></li>
              <li class="list-group-item"> Guardian Information:
                  <ul class="list-group row" name="guardian_details">
                  <% @student.guardians.each do |guardian| %>
                    <li class="list-group-item">Name: <%= guardian.user.first_name%> <%= guardian.user.last_name %><br/>
                      Email: <%= guardian.user.email%></li>
                  <% end %>
                  </ul>
              </li>
            </ul>
            <br>
            <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">Meetings List</h3>
              <table class="table table-striped" id="movies">
              <thead>
              <tr>
                <th>Meeting Day</th>
                <th>Nurse</th>
              </tr>
              </thead>
              <tbody>
              <% @student.meetings.each do |meeting| %>
                <tr>
                  <td><%= meeting.start %></td>
                  <td><%= meeting.nurse.user.first_name %> <%= meeting.nurse.user.last_name %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            </div>
          </div>
        </div>
        <br>
        <div class="row justify-content-center">
          <div style="float: left; width: auto;"><%= link_to 'Student Medications', student_medication_assignments_path(@student), :class => 'btn btn-primary ' %></div>
          <% if not (@current_user.student or @current_user.guardian)%>
            <div style="float: left; width: auto;"><%= link_to 'Edit', edit_student_path(@student), :class => 'btn btn-primary' %></div>
            <div style="float: left; width: auto;"><%= link_to 'Back to Student List', students_path, :class => 'btn btn-primary ' %></div>
          <% end %>
          <% if @current_user.administrator%>
            <div style="float: left; width: auto;"><%= link_to 'Transfer', transfer_student_path(@student), :class => 'btn btn-primary' %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>