<div class="modal-dialog modal-xl">
  <div class="modal-content">
    <div class="modal-header border-0"></div>
    <div class="modal-body text-center pb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Medication Details</h2>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
            </div>
            <ul class="list-group text-start" id="details">
              <li class="list-group-item">Medication Name: <%= @medication.name %></li>
              <li class="list-group-item">True Name: <%= @medication.true_name %></li>
              <li class="list-group-item">Dosage Name: <%= @medication.dosage %></li>
            </ul>
            <br>
          </div>
        </div>
        <div class="row justify-content-center">
          <div style="float: left; width: auto"><%= link_to 'Edit', edit_medication_path(@medication), :class => 'btn btn-primary' %></div>
          <div style="float: left; width: auto;"><%= link_to 'Remove', destroy_medication_path(@medication), :class => 'btn btn-secondary' %></div>
          <div style="float: left; width: auto;"><%= link_to 'Back to Medication List', medications_path, :class => 'btn btn-primary' %></div>
        </div>
      </div>
    </div>
  </div>
</div>