

<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->

            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">NURSE SCHEDULE</h2>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
              <div class="divider-custom-line"></div>
            </div>
        <table class="table table-striped col-md-12" id="movies">
          <thead>
          <tr>
            <th>Meeting Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
            <th>Email</th>
            <th>Meeting Info</th>
          </tr>
          </thead>
          <tbody>
          <% @meetings.each do |meeting| %>
            <tr>
              <td><%= meeting.start %></td>
              <td><%= meeting.student.user.first_name %></td>
              <td><%= meeting.student.user.last_name %></td>
              <td><%= meeting.student.birthdate %></td>
              <td><%= meeting.student.user.email %></td>
              <td>
                <%= link_to 'Meeting Details', nurse_meeting_path(@nurse, meeting) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
          <%= link_to 'Add New Schedule', new_nurse_meeting_path(@nurse), :class => 'btn btn-primary' %>
          <%= link_to 'View History', nurse_meetings_path(@nurse), :class =>'btn btn-primary' %>
          <%= link_to 'Manage Students', students_path, :class => 'btn btn-primary' %>


  </div>
  </div>
</section>
