
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Add School</h2>
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

        <%= form_tag schools_path, :class => 'form' do %>
          <%= label :school, :name, 'Name', :class => 'col-form-label' %>
          <%= text_field :school, :name, :class => 'form-control' %>
          <br/>
          <%= submit_tag 'Add School', :class => 'btn btn-primary' %>
          <%= link_to 'Cancel', schools_path, :class => 'btn btn-secondary' %>
        <% end %>



  </div>
</section>